:root{
  --teal-gradient-opaque:linear-gradient(135deg, rgba(2, 170, 176, .55), rgba(0, 205, 172, .55));
  --drop-shadow-card:drop-shadow(4px 4px 3px rgba(0, 0, 0, .6));
}

.weatherApp {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 4px #000000;
  min-height:100vh;
  padding:0;
  margin:0;
  overflow: hidden;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  text-shadow: 2px 2px 4px #000000;
  filter: var(--drop-shadow-card);
}

.App-logo .logo-gradient{
  fill: url(#logo-gradient) #fff;
}
#logo-gradient {
  --color-stop:#08519b;
  --color-bot:#43cea2;
}

.title {
  perspective: 150rem;
  background: var(--teal-gradient-opaque);
  width:92.5vw;
  border-radius: 3px;
  filter: var(--drop-shadow-card);
  backface-visibility: hidden;
}

.title_back{
  transform: rotateY(180deg);
}

.cardWrapper{
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

video { object-fit: fill; }

.video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    opacity: 0.6;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  video{
    background-size: cover;
  }
}