:root{
  --teal-gradient-opaque:linear-gradient(135deg, rgba(2, 170, 176, .55), rgba(0, 205, 172, .55));
  --drop-shadow-card:drop-shadow(8px 8px 4px rgba(0, 0, 0, .6));
  --box-shadow-card:(10px 10px 20px 1px rgba(0,0,0,.4));
}

.weatherCard{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    transition: all 0.8s ease-in-out;
    float: left;
    height: 35rem;
    width: 13rem;
    margin: 2rem 0.5rem 1rem 0.5rem;
    border-radius: 2px;
    backface-visibility: hidden;
    color:white;
    
  }

  .weatherCard .weatherCard__front{
    font-size: 2rem;
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin: 0rem;
    transition: all 0.8s ease-in-out;
    box-shadow: var(--box-shadow-card);
    background: var(--teal-gradient-opaque);
    filter: var(--drop-shadow-card);
  }

  .weatherCard .weatherCard__back{
    transform: rotateY(180deg);
    font-size: 1rem;
    text-align:left ;
    padding: 0 1rem 0 1rem;
    width:11rem;
    color:white;
    margin: 0rem;
    background: var(--teal-gradient-opaque);
    box-shadow: var(--box-shadow-card);
    filter: var(--drop-shadow-card);
  }

  .weatherIcon__back{
    height:3rem;
    width: 3rem;
    float: right;
    filter: var(--drop-shadow-card);
  }

  ul {
    padding:0
  }
  li {
    list-style-type: none;
    padding: 0 0 0 1rem;
  }

  .weatherCard:hover .weatherCard__front{
    transform: rotateY(-180deg);
  }

  .weatherCard:hover .weatherCard__back{
    transform: rotateY(0);
  }
  
  .weatherIcon{
    filter: drop-shadow( 10px 10px 7px rgba(0, 0, 0, .9));
    margin:0;
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) {
  .weatherCard{
    width:96%;
  }
  .weatherCard__back{
    width:91% !important;
    font-size: 1.1rem !important;
    
  }
  .weatherIcon__back{
    filter: drop-shadow( 8px 8px 5px rgba(0, 0, 0, .6));
    height:6rem !important;
    width: 6rem !important;
  }
  .weatherCard__front:hover{
    transform: rotateY(180) !important;
  }
  .weatherCard__back:hover{
    transform: rotateY(0) !important;
  }
}